



<div class="b-example-divider"></div>






<div class="b-example-divider"></div>



<div class="b-example-divider"></div>



<div class="b-example-divider"></div>

<div class="dropdown-menu d-flex align-items-stretch p-3 rounded-3 shadow-lg" style="width: 600px" id="dropdownMega">
  <nav class="d-grid gap-2 col-8">
    <a href="#" class="btn btn-hover-light d-flex align-items-center gap-3 py-2 px-3 lh-sm">
      <svg class="bi" width="32" height="32"><use xlink:href="#image-fill"/></svg>
      <div>
        <strong class="d-block">Features</strong>
        <small>Take a tour through the product</small>
      </div>
    </a>
    <a href="#" class="btn btn-hover-light d-flex align-items-center gap-3 py-2 px-3 lh-sm">
      <svg class="bi" width="32" height="32"><use xlink:href="#question-circle"/></svg>
      <div>
        <strong class="d-block">Support</strong>
        <small>Get help from our support crew</small>
      </div>
    </a>
  </nav>
  <div class="col-4">
    ...
  </div>
</div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
